/* LOAD SCRIPT FOR AREAS FOR THE RTQ */


INSERT INTO Areas
VALUES ('1', '649', 1.0);

INSERT INTO Areas
VALUES ('650', '999', 1.1);

INSERT INTO Areas
VALUES ('1000', '1499', 1.15);






SELECT * FROM Areas