/* ****************************************************** */
/* LOAD SCRIPT FOR RTQ SUB OPTIONS					      */
/* ****************************************************** */
/* multiple sub-options belong to an RTQ Option			  */
/* ****************************************************** */


/**************************
  BATHROOM
  ************************/
  

/* FLOOR from Bathroom */

INSERT INTO RTQOptionSubs
VALUES ('Sweep Floor', 8, 'test', 16);

INSERT INTO RTQOptionSubs
VALUES ('Mop Floor', 12, 'test', 16);

INSERT INTO RTQOptionSubs
VALUES ('Hand Scrub Floor', 22, 'test', 16);



/**************************
  BEDROOM
  ************************/


/* CEILING & WALL from Bedroom */






/* DECOR from Bedroom */




/* FURNITURE from Bedroom */




/* LAUNDRY from Bedroom */




/* WINDOWS & BLINDS from Bedroom */






/* FLOOR from Bedroom */






/**************************
  BATHROOM
  ************************/ 
  
/* CEILINGS & WALLS from Kitchen */







/* UPPER, LOWER CABINETS & PANTRY from Kitchen */








/* APPLIANCES from Kitchen */










/* COUNTERS SINKS & DECOR from Kitchen */




/* WINDOWS & BLINDS from Kitchen */






/* FLOOR from Bedroom */





/**************************
  DINING ROOM
  ************************/
  
/* CEILINGS & WALLS from Dining Room */






/* DECOR from Diningroom */




/* WINDOWS & BLINDS from Dining room */






/* FLOOR from Dining room */







/**************************
  LIVING ROOM
  ************************/
  
/* CEILINGS & WALLS from Living Room */






/* DECOR from Livingroom */




/* WINDOWS & BLINDS from Living room */






/* FLOOR from Dining room */







/**************************
  OFFICE
  ************************/
  
/* CEILINGS & WALLS from office */






/* DECOR from office */




/* WINDOWS & BLINDS from office */






/* FLOOR from office */








SELECT * FROM RTQOptionSubs