USE [hctDB]
GO
/****** Object:  User [manager1]    Script Date: 09/29/2013 13:12:56 ******/
CREATE USER [manager1] FOR LOGIN [manager1] WITH DEFAULT_SCHEMA=[manager1]
GO
/****** Object:  User [customer1]    Script Date: 09/29/2013 13:12:56 ******/
CREATE USER [customer1] FOR LOGIN [customer1] WITH DEFAULT_SCHEMA=[customer1]
GO
/****** Object:  Schema [manager1]    Script Date: 09/29/2013 13:12:56 ******/
CREATE SCHEMA [manager1] AUTHORIZATION [manager1]
GO
/****** Object:  Schema [customer1]    Script Date: 09/29/2013 13:12:56 ******/
CREATE SCHEMA [customer1] AUTHORIZATION [customer1]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON
INSERT [dbo].[Rooms] ([Id], [name], [description]) VALUES (1, N'Bathroom', N'The first room to be detailed')
INSERT [dbo].[Rooms] ([Id], [name], [description]) VALUES (2, N'Bedroom', N'The second room to be detailed')
INSERT [dbo].[Rooms] ([Id], [name], [description]) VALUES (3, N'Kitchen', N'The third room to be detailed')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
/****** Object:  Table [dbo].[PresetItems]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresetItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[price] [decimal](18, 0) NULL,
	[time] [int] NULL,
	[description] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
 CONSTRAINT [PK_PresetItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[custID] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[joinDate] [datetime] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([Id], [custID], [status], [joinDate]) VALUES (1, N'GDPY', N'Active', CAST(0x0000A2470054EDCC AS DateTime))
INSERT [dbo].[Customers] ([Id], [custID], [status], [joinDate]) VALUES (2, N'UP5X', N'Active', CAST(0x0000A247012F3A2C AS DateTime))
INSERT [dbo].[Customers] ([Id], [custID], [status], [joinDate]) VALUES (5, N'83VJ', N'Active', CAST(0x0000A24701520D36 AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
/****** Object:  Table [dbo].[CleaningTypes]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleaningTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[cTypeValue] [real] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_CleaningTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CleaningTypes] ON
INSERT [dbo].[CleaningTypes] ([Id], [name], [cTypeValue], [description]) VALUES (1, N'Routine Cleaning', 1, N'Description 1')
INSERT [dbo].[CleaningTypes] ([Id], [name], [cTypeValue], [description]) VALUES (3, N'Move In & Move Out Cleaning', 1.25, N'Description 3')
INSERT [dbo].[CleaningTypes] ([Id], [name], [cTypeValue], [description]) VALUES (4, N'Emergency Cleaning', 1.3, N'Description 4')
SET IDENTITY_INSERT [dbo].[CleaningTypes] OFF
/****** Object:  Table [dbo].[Areas]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[fromMin] [nvarchar](9) NULL,
	[toMax] [nvarchar](9) NULL,
	[areaVal] [real] NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON
INSERT [dbo].[Areas] ([Id], [fromMin], [toMax], [areaVal]) VALUES (1, N'1', N'649', 1)
INSERT [dbo].[Areas] ([Id], [fromMin], [toMax], [areaVal]) VALUES (2, N'650', N'999', 1.1)
INSERT [dbo].[Areas] ([Id], [fromMin], [toMax], [areaVal]) VALUES (3, N'1000', N'1499', 1.15)
SET IDENTITY_INSERT [dbo].[Areas] OFF
/****** Object:  Table [dbo].[Addresses]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[bldg] [int] NULL,
	[unit] [int] NULL,
	[street] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[postal] [nvarchar](max) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON
INSERT [dbo].[Addresses] ([Id], [bldg], [unit], [street], [city], [postal]) VALUES (1, 1, 1, N'1', N'1', N'M2R G2F')
INSERT [dbo].[Addresses] ([Id], [bldg], [unit], [street], [city], [postal]) VALUES (2, 123, 1, N'test', N'test', N'R2R R2R')
INSERT [dbo].[Addresses] ([Id], [bldg], [unit], [street], [city], [postal]) VALUES (4, 12, NULL, N'Plum Treeway', N'Toronto', N'M1M 1M1')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
/****** Object:  Table [dbo].[HouseTypes]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[hTypeValue] [real] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_HouseTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HouseTypes] ON
INSERT [dbo].[HouseTypes] ([Id], [name], [hTypeValue], [description]) VALUES (1, N'Apartment', 1, N'Apartment type')
INSERT [dbo].[HouseTypes] ([Id], [name], [hTypeValue], [description]) VALUES (2, N'Condominium', 1.1, N'Condominium type')
INSERT [dbo].[HouseTypes] ([Id], [name], [hTypeValue], [description]) VALUES (3, N'Duplex', 1.2, N'Duplex type')
SET IDENTITY_INSERT [dbo].[HouseTypes] OFF
/****** Object:  Table [dbo].[HouseItems]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[otherInfo] [nvarchar](max) NULL,
	[CleaningType_Id] [int] NOT NULL,
	[HouseType] [nvarchar](max) NULL,
	[Area] [nvarchar](20) NULL,
	[Pets] [nvarchar](30) NULL,
	[HouseName] [nvarchar](30) NULL,
 CONSTRAINT [PK_HouseItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CleaningTypeHouseItem] ON [dbo].[HouseItems] 
(
	[CleaningType_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HouseItems] ON
INSERT [dbo].[HouseItems] ([Id], [otherInfo], [CleaningType_Id], [HouseType], [Area], [Pets], [HouseName]) VALUES (1, N'N/A', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[HouseItems] ([Id], [otherInfo], [CleaningType_Id], [HouseType], [Area], [Pets], [HouseName]) VALUES (2, N'N/A', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[HouseItems] ([Id], [otherInfo], [CleaningType_Id], [HouseType], [Area], [Pets], [HouseName]) VALUES (3, N'N/A', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HouseItems] OFF
/****** Object:  Table [dbo].[RTQApps]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTQApps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[Room_Id] [int] NOT NULL,
 CONSTRAINT [PK_RTQApps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_RoomRTQApp] ON [dbo].[RTQApps] 
(
	[Room_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RTQApps] ON
INSERT [dbo].[RTQApps] ([Id], [name], [status], [description], [Room_Id]) VALUES (1, N'Ceilings & Walls', N'active', N'test', 1)
INSERT [dbo].[RTQApps] ([Id], [name], [status], [description], [Room_Id]) VALUES (2, N'Décor', N'active', N'test', 1)
INSERT [dbo].[RTQApps] ([Id], [name], [status], [description], [Room_Id]) VALUES (3, N'Showers, Tubs, Toilets & Sinks', N'active', N'test', 1)
SET IDENTITY_INSERT [dbo].[RTQApps] OFF
/****** Object:  Table [dbo].[Properties]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[Address_Id] [int] NOT NULL,
	[Area_Id] [int] NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[HouseType_Id] [int] NOT NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AreaProperty] ON [dbo].[Properties] 
(
	[Area_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CustomerProperty] ON [dbo].[Properties] 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_HouseTypeProperty] ON [dbo].[Properties] 
(
	[HouseType_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_PropertyAddress] ON [dbo].[Properties] 
(
	[Address_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Properties] ON
INSERT [dbo].[Properties] ([Id], [name], [Address_Id], [Area_Id], [Customer_Id], [HouseType_Id]) VALUES (1, N'Default', 1, 3, 1, 5)
INSERT [dbo].[Properties] ([Id], [name], [Address_Id], [Area_Id], [Customer_Id], [HouseType_Id]) VALUES (2, N'Default', 2, 2, 2, 2)
INSERT [dbo].[Properties] ([Id], [name], [Address_Id], [Area_Id], [Customer_Id], [HouseType_Id]) VALUES (5, N'Default', 7, 4, 5, 4)
SET IDENTITY_INSERT [dbo].[Properties] OFF
/****** Object:  Table [dbo].[Employees]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[empID] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[hireDate] [datetime] NULL,
	[removeDate] [datetime] NULL,
	[type] [nvarchar](max) NULL,
	[Address_Id] [int] NOT NULL,
	[rate] [decimal](19, 2) NULL,
	[fname] [nvarchar](20) NULL,
	[lname] [nvarchar](20) NULL,
	[homePhone] [nvarchar](15) NULL,
	[workPhone] [nvarchar](15) NULL,
	[email1] [nvarchar](60) NULL,
	[email2] [nvarchar](60) NULL,
	[mobilePhone] [nvarchar](20) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_EmployeeAddress] ON [dbo].[Employees] 
(
	[Address_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON
INSERT [dbo].[Employees] ([Id], [empID], [status], [hireDate], [removeDate], [type], [Address_Id], [rate], [fname], [lname], [homePhone], [workPhone], [email1], [email2], [mobilePhone]) VALUES (3, N'XGDJ', N'Active', CAST(0x0000A247014B1B52 AS DateTime), NULL, N'CLN', 4, CAST(32.43 AS Decimal(19, 2)), N'Cleaner1', N'LastName1', N'(123)-456-7890', N'', N'a@a.com', N'', N'(123)-456-7890')
INSERT [dbo].[Employees] ([Id], [empID], [status], [hireDate], [removeDate], [type], [Address_Id], [rate], [fname], [lname], [homePhone], [workPhone], [email1], [email2], [mobilePhone]) VALUES (4, N'E1H3', N'Active', CAST(0x0000A24701506BEF AS DateTime), NULL, N'CLN', 5, CAST(19.25 AS Decimal(19, 2)), N'Cleaner2', N'LastName2', N'(123)-465-7875', N'(832)-098-5734', N'a@a2.com', N'a@.a2.com', N'(748)-953-4897')
INSERT [dbo].[Employees] ([Id], [empID], [status], [hireDate], [removeDate], [type], [Address_Id], [rate], [fname], [lname], [homePhone], [workPhone], [email1], [email2], [mobilePhone]) VALUES (5, N'CV9V', N'Active', CAST(0x0000A2470153101A AS DateTime), NULL, N'DTE', 8, CAST(12.22 AS Decimal(19, 2)), N'DataEntry1', N'LastName1', N'(120)-293-4304', N'(907)-435-7430', N'a@a.com', N'', N'(943)-850-9438')
SET IDENTITY_INSERT [dbo].[Employees] OFF
/****** Object:  Table [dbo].[People]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](max) NULL,
	[lname] [nvarchar](max) NULL,
	[homePhone] [nvarchar](max) NULL,
	[workPhone] [nvarchar](max) NULL,
	[mobilePhone] [nvarchar](max) NULL,
	[email1] [nvarchar](max) NULL,
	[email2] [nvarchar](max) NULL,
	[Customer_Id] [int] NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CustomerPerson] ON [dbo].[People] 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[People] ON
INSERT [dbo].[People] ([Id], [fname], [lname], [homePhone], [workPhone], [mobilePhone], [email1], [email2], [Customer_Id]) VALUES (47, N'Radney', N'Alquiza', N'(647)-231-5348', N'1', N'1', N'1', N'1', 1)
INSERT [dbo].[People] ([Id], [fname], [lname], [homePhone], [workPhone], [mobilePhone], [email1], [email2], [Customer_Id]) VALUES (48, N'Jacob', N'Brettler', N'(123)-456-7899', N'(123)-456-6778', N'(545)-445-4544', N'a@a.com', N'a@a.com', 2)
INSERT [dbo].[People] ([Id], [fname], [lname], [homePhone], [workPhone], [mobilePhone], [email1], [email2], [Customer_Id]) VALUES (51, N'Bernadette', N'Lee', N'(125)-984-3000', N'(458)-439-5348', N'', N'a@a.com', N'', 5)
SET IDENTITY_INSERT [dbo].[People] OFF
/****** Object:  Table [dbo].[RoomItems]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nickName] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[HouseItem_Id] [int] NOT NULL,
 CONSTRAINT [PK_RoomItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_HouseItemRoomItem] ON [dbo].[RoomItems] 
(
	[HouseItem_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoomItems] ON
INSERT [dbo].[RoomItems] ([Id], [nickName], [name], [HouseItem_Id]) VALUES (1, N'', N'Bathroom', 1)
INSERT [dbo].[RoomItems] ([Id], [nickName], [name], [HouseItem_Id]) VALUES (2, N'', N'Bedroom', 1)
INSERT [dbo].[RoomItems] ([Id], [nickName], [name], [HouseItem_Id]) VALUES (3, N'', N'Bathroom', 2)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[RoomItems] OFF
/****** Object:  Table [dbo].[Quotes]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[quoteCode] [nvarchar](max) NULL,
	[totalPrice] [decimal](19, 2) NULL,
	[totalTime] [int] NULL,
	[name] [nvarchar](max) NULL,
	[email] [nvarchar](max) NOT NULL,
	[HouseItem_Id] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_Quotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_QuoteHouseItem] ON [dbo].[Quotes] 
(
	[HouseItem_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Quotes] ON
INSERT [dbo].[Quotes] ([Id], [quoteCode], [totalPrice], [totalTime], [name], [email], [HouseItem_Id], [DateCreated]) VALUES (1, N'0E61U1G', CAST(8.75 AS Decimal(19, 2)), 21, N'Default', N'atlaswingpasaway@hotmail.com', 1, NULL)
INSERT [dbo].[Quotes] ([Id], [quoteCode], [totalPrice], [totalTime], [name], [email], [HouseItem_Id], [DateCreated]) VALUES (2, N'21NA6C6', CAST(12.50 AS Decimal(19, 2)), 30, N'Default', N'atlaswingpasaway@hotmail.com', 2, NULL)
INSERT [dbo].[Quotes] ([Id], [quoteCode], [totalPrice], [totalTime], [name], [email], [HouseItem_Id], [DateCreated]) VALUES (3, N'GZVXCP4', CAST(12.50 AS Decimal(19, 2)), 30, N'Default', N'atlaswing_pasaway@yahoo.com', 3, NULL)
SET IDENTITY_INSERT [dbo].[Quotes] OFF
/****** Object:  Table [dbo].[RTQOptions]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTQOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[time] [int] NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[RTQApp_Id] [int] NOT NULL,
	[ctype] [nvarchar](max) NULL,
 CONSTRAINT [PK_RTQOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_RTQAppRTQOption] ON [dbo].[RTQOptions] 
(
	[RTQApp_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RTQOptions] ON
INSERT [dbo].[RTQOptions] ([Id], [name], [time], [description], [status], [RTQApp_Id], [ctype]) VALUES (1, N'Light fixtures', NULL, N'test', N'active', 1, NULL)
INSERT [dbo].[RTQOptions] ([Id], [name], [time], [description], [status], [RTQApp_Id], [ctype]) VALUES (2, N'Dust crown molding', 12, N'test', N'active', 1, N'routine')
INSERT [dbo].[RTQOptions] ([Id], [name], [time], [description], [status], [RTQApp_Id], [ctype]) VALUES (3, N'Walls', NULL, N'test', N'active', 1, NULL)
SET IDENTITY_INSERT [dbo].[RTQOptions] OFF
/****** Object:  Table [dbo].[AppItems]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[RoomItem_Id] [int] NOT NULL,
 CONSTRAINT [PK_AppItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_RoomItemAppItem] ON [dbo].[AppItems] 
(
	[RoomItem_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppItems] ON
INSERT [dbo].[AppItems] ([Id], [name], [RoomItem_Id]) VALUES (1, N'Ceilings & Walls', 1)
INSERT [dbo].[AppItems] ([Id], [name], [RoomItem_Id]) VALUES (2, N'Ceilings & Walls', 2)
INSERT [dbo].[AppItems] ([Id], [name], [RoomItem_Id]) VALUES (3, N'Ceilings & Walls', 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
SET IDENTITY_INSERT [dbo].[AppItems] OFF
/****** Object:  Table [dbo].[Invoices]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[dateCreated] [datetime] NULL,
	[dateModified] [datetime] NULL,
	[paymentStatus] [nvarchar](max) NULL,
	[jobStatus] [nvarchar](max) NULL,
	[paymentMethod] [nvarchar](max) NULL,
	[paymentDate] [datetime] NULL,
	[Customer_Id] [int] NOT NULL,
	[Quote_Id] [int] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CustomerInvoice] ON [dbo].[Invoices] 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_QuoteInvoice] ON [dbo].[Invoices] 
(
	[Quote_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTQOptionSubs]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTQOptionSubs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[time] [int] NULL,
	[description] [nvarchar](max) NULL,
	[RTQOption_Id] [int] NOT NULL,
	[ctype] [nvarchar](max) NULL,
 CONSTRAINT [PK_RTQOptionSubs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_RTQOptionRTQOptionSub] ON [dbo].[RTQOptionSubs] 
(
	[RTQOption_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RTQOptionSubs] ON
INSERT [dbo].[RTQOptionSubs] ([Id], [name], [time], [description], [RTQOption_Id], [ctype]) VALUES (1, N'Dust Light fixtures', 6, N'test', 1, N'routine')
INSERT [dbo].[RTQOptionSubs] ([Id], [name], [time], [description], [RTQOption_Id], [ctype]) VALUES (2, N'Wash Light fixtures', 30, N'test', 1, N'deep')
INSERT [dbo].[RTQOptionSubs] ([Id], [name], [time], [description], [RTQOption_Id], [ctype]) VALUES (3, N'Dust Baseboards (includes Door Frames, Window Frames, Visible Baseboards)', 12, N'test', 5, N'routine')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[RTQOptionSubs] OFF
/****** Object:  Table [dbo].[OptionItems]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[time] [int] NULL,
	[AppItem_Id] [int] NOT NULL,
 CONSTRAINT [PK_OptionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_AppItemOptionItem] ON [dbo].[OptionItems] 
(
	[AppItem_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OptionItems] ON
INSERT [dbo].[OptionItems] ([Id], [name], [time], [AppItem_Id]) VALUES (1, N'Dust crown molding', 12, 1)
INSERT [dbo].[OptionItems] ([Id], [name], [time], [AppItem_Id]) VALUES (2, N'Spot clean walls', 5, 1)
INSERT [dbo].[OptionItems] ([Id], [name], [time], [AppItem_Id]) VALUES (3, N'Wash light switches & electrical sockets', 2, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
SET IDENTITY_INSERT [dbo].[OptionItems] OFF
/****** Object:  Table [dbo].[Events]    Script Date: 09/29/2013 13:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[startTime] [int] NULL,
	[endTime] [int] NULL,
	[Invoice_Id] [int] NOT NULL,
	[allDay] [nvarchar](10) NULL,
	[eventId] [nvarchar](15) NULL,
	[empList] [nvarchar](max) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_InvoiceEvent] ON [dbo].[Events] 
(
	[Invoice_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CleaningTypeHouseItem]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[HouseItems]  WITH CHECK ADD  CONSTRAINT [FK_CleaningTypeHouseItem] FOREIGN KEY([CleaningType_Id])
REFERENCES [dbo].[CleaningTypes] ([Id])
GO
ALTER TABLE [dbo].[HouseItems] CHECK CONSTRAINT [FK_CleaningTypeHouseItem]
GO
/****** Object:  ForeignKey [FK_RoomRTQApp]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[RTQApps]  WITH CHECK ADD  CONSTRAINT [FK_RoomRTQApp] FOREIGN KEY([Room_Id])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[RTQApps] CHECK CONSTRAINT [FK_RoomRTQApp]
GO
/****** Object:  ForeignKey [FK_AreaProperty]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_AreaProperty] FOREIGN KEY([Area_Id])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_AreaProperty]
GO
/****** Object:  ForeignKey [FK_CustomerProperty]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_CustomerProperty] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_CustomerProperty]
GO
/****** Object:  ForeignKey [FK_HouseTypeProperty]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_HouseTypeProperty] FOREIGN KEY([HouseType_Id])
REFERENCES [dbo].[HouseTypes] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_HouseTypeProperty]
GO
/****** Object:  ForeignKey [FK_PropertyAddress]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_PropertyAddress] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_PropertyAddress]
GO
/****** Object:  ForeignKey [FK_EmployeeAddress]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddress] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_EmployeeAddress]
GO
/****** Object:  ForeignKey [FK_CustomerPerson]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPerson] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_CustomerPerson]
GO
/****** Object:  ForeignKey [FK_HouseItemRoomItem]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[RoomItems]  WITH CHECK ADD  CONSTRAINT [FK_HouseItemRoomItem] FOREIGN KEY([HouseItem_Id])
REFERENCES [dbo].[HouseItems] ([Id])
GO
ALTER TABLE [dbo].[RoomItems] CHECK CONSTRAINT [FK_HouseItemRoomItem]
GO
/****** Object:  ForeignKey [FK_QuoteHouseItem]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Quotes]  WITH CHECK ADD  CONSTRAINT [FK_QuoteHouseItem] FOREIGN KEY([HouseItem_Id])
REFERENCES [dbo].[HouseItems] ([Id])
GO
ALTER TABLE [dbo].[Quotes] CHECK CONSTRAINT [FK_QuoteHouseItem]
GO
/****** Object:  ForeignKey [FK_RTQAppRTQOption]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[RTQOptions]  WITH CHECK ADD  CONSTRAINT [FK_RTQAppRTQOption] FOREIGN KEY([RTQApp_Id])
REFERENCES [dbo].[RTQApps] ([Id])
GO
ALTER TABLE [dbo].[RTQOptions] CHECK CONSTRAINT [FK_RTQAppRTQOption]
GO
/****** Object:  ForeignKey [FK_RoomItemAppItem]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[AppItems]  WITH CHECK ADD  CONSTRAINT [FK_RoomItemAppItem] FOREIGN KEY([RoomItem_Id])
REFERENCES [dbo].[RoomItems] ([Id])
GO
ALTER TABLE [dbo].[AppItems] CHECK CONSTRAINT [FK_RoomItemAppItem]
GO
/****** Object:  ForeignKey [FK_CustomerInvoice]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInvoice] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_CustomerInvoice]
GO
/****** Object:  ForeignKey [FK_QuoteInvoice]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_QuoteInvoice] FOREIGN KEY([Quote_Id])
REFERENCES [dbo].[Quotes] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_QuoteInvoice]
GO
/****** Object:  ForeignKey [FK_RTQOptionRTQOptionSub]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[RTQOptionSubs]  WITH CHECK ADD  CONSTRAINT [FK_RTQOptionRTQOptionSub] FOREIGN KEY([RTQOption_Id])
REFERENCES [dbo].[RTQOptions] ([Id])
GO
ALTER TABLE [dbo].[RTQOptionSubs] CHECK CONSTRAINT [FK_RTQOptionRTQOptionSub]
GO
/****** Object:  ForeignKey [FK_AppItemOptionItem]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[OptionItems]  WITH CHECK ADD  CONSTRAINT [FK_AppItemOptionItem] FOREIGN KEY([AppItem_Id])
REFERENCES [dbo].[AppItems] ([Id])
GO
ALTER TABLE [dbo].[OptionItems] CHECK CONSTRAINT [FK_AppItemOptionItem]
GO
/****** Object:  ForeignKey [FK_InvoiceEvent]    Script Date: 09/29/2013 13:13:00 ******/
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceEvent] FOREIGN KEY([Invoice_Id])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_InvoiceEvent]
GO
