body {
}

.atlas-cover
{
    position:absolute;
    height:100%;
    width:100%;
    z-index:1;
    top:0;
    left:0;
    display:none;
}

.atlas-overlay
{
    position:absolute;
    display:none;
    top:50%;
    left:50%;
    z-index:2;
}
    .atlas-overlay img
    {
        
    }
    .atlas-overlay span
    {
        display:inline-block;
        height:41px;
        width:41px;
        background-image:url('img/239.gif');
        background-position:center center;
    }